*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
section{
    max-width: 1320px;
    width: 100%;
}
.wrapper-div1{
    margin: 0 auto;
    margin-top: 180px;
}
.text-div{
    display: inline-block;
    width: 463px;
}
.blue-par{
    color: #0A22F4;
}
.title-about{
    font-family: 'HelveticaNeue';
    font-size: 32px;
}
.image-one{
    width: 707px;
    margin-left: 137px;
    vertical-align: middle;
    box-shadow: 10px 10px #0A22F4 ;
    border-radius: 15px;
    margin-top: 200px;
}
.big-par{
    margin-bottom: 22px;
}
p{
    font-family: 'HelveticaNeue';
    font-size: 16px;
}
.services{
    margin-bottom: 60px;
}
.image-two{
    width: 707px;
    box-shadow: -10px 10px #0A22F4;
    border-radius: 15px;
    margin-right: 138px;
    vertical-align: middle;
    margin-top: 350px;
}
.wrapper-div2{
    margin-bottom: 394px;
}